@media screen and (min-width: 770px)
{
  .navbar-expand-md .navbar-nav .dropdown-menu {
    transform: translateX(-70%);
  }
}

div.dropdown-menu.show{
  position: absolute !important ;
  left : 50%;
  transform: translateX(-50%);
}

.navbar {
  padding-bottom: 1rem;
}


